<div class="areaItem">
  <div class="mb-2">{{ item.name }}</div>
  <div class="row m-0">
    <ng-container>
      <div class="col-md-3 p-0 m-0" *ngFor="let item of item.items">
        <app-core-item-inner-item
          (click) = "getValue(item)"
          [imgUrl]="item.imgUrl"
        ></app-core-item-inner-item>
      </div>
    </ng-container>
  </div>
</div>
