<div class="inforItem">
  <h1>Item Summary</h1>
  <div class="row">
    <div class="col-md-3">
      <img *ngIf="item==='default message'" src="assets/repice.png" width="64" height="64"
        alt="">
      <img *ngIf="item!=='default message'" [src]="item.imgUrl" width="64" height="64" alt="">
    </div>
    <div class="col-md-9 text-left">
      <p>{{item.name}}</p>
      <span><i class="fa fa-money" aria-hidden="true"></i> {{item.price}}</span>
    </div>
  </div>
  <div class="bonus text-left">
    <h5>GIVES :</h5>
    <p>{{item.bonus}}</p>
  </div>
  <div class="usedin text-left">
    <h5>{{item.requiresItem?'Requires:':'Used in:'}}</h5>
    <ng-container *ngFor="let item of item.requires">
      <app-core-infor-item-usedin [item]="item"></app-core-infor-item-usedin>
    </ng-container>
  </div>
</div>