.inforItem {
  height: 100%;
  width: 100%;
  color: #ff9966;
  text-align: center;
  margin: 50px 0px;
}

.bonus {
  margin: 50px 15px;
}

.bonus p {
  margin: 0px 25px;
}

.usedin {
  margin: 50px 15px;
}
