<div class="core">
  <div id="centerColOuter_NoCallout">
    <div id="centerColTopShadow">
      <img
        src="http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_top_shadow.png"
        width="984"
        height="25"
      />
    </div>
    <div id="centerColTop">
      <img
        src="http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_top.png"
        width="100%"
        height="100%"
      />
    </div>
    <div id="centerColContainer">
      <div id="centerColContent">
        <div class="redboxOuter">
          <div class="redboxContent">
            <div class="redboxTop"></div>
            <div class="row m-0">
              <div class="col-md-4" *ngFor="let item of listItem">
                <app-core-item-inner 
                [item]="item"></app-core-item-inner>
              </div>
            </div>
            <div class="redboxBottom"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="centerColBottom">
      <img
        src="http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_bottom.png"
        width="100%"
        height="100%"
      />
    </div>

    <div id="centerColBottomShadow">
      <img
        src="http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_bottom_shadow.png"
        width="984"
        height="25"
      />
    </div>
  </div>
</div>
