.core {
  height: 100%;
  width: 100%;
  background-color: #232425;
  font-family: 'Radiance';
  line-height: normal;
}

#centerColOuter_NoCallout {
  padding-top: 20px;
}

#centerColOuter_NoCallout {
  width: 984px;
  margin: 0 auto;
}

#centerColTopShadow,
#centerColBottomShadow {
  height: 25px;
}

#centerColTop,
#centerColBottom {
  height: 19px;
}

#centerColContainer {
  z-index: 2;
  width: 100%;
  padding: 0px 35px;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_repeat.png);
  background-repeat: repeat-y;
}

#centerColTopShadow,
#centerColTop,
#centerColBottom,
#centerColBottomShadow {
  z-index: 2;
  width: 984px;
}

#centerColContent {
  width: 938px;
}

.redboxOuter {
  margin: 0;
  padding: 0;
  width: 914px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242728', endColorstr='#111313');
  background: -webkit-gradient(linear, left top, left bottom, from(#242728), to(#111313));
  background: -moz-linear-gradient(top, #242728, #111313);
}

.redboxContent {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/redborderbox_bg_vtile.png);
  background-repeat: repeat-y;
  background-position: center;
  width: 914px;
  margin: 0;
}

.redboxTop,
.redboxBottom {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/redborderbox_top.png);
  margin: 0;
  width: 914px;
  height: 23px;
}

.redboxBottom {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/redborderbox_bottom.png);
}

.itemInner{
    width: 910px;
}

