<div class="row">
  <div class="offset-md-1 col-md-7 totalitem">
      <app-core-item></app-core-item>
  </div>
  <div class="col-md-3 ml-3">
    <app-core-infor
    ></app-core-infor
      >
  </div>
</div>
