<div class="row mb-3">
  <div class="col-md-2">
    <img [src]="item.imgUrl" width="64" height="64" alt="">
  </div>
  <div class="col-md-10">
    <p>{{item.nameItem}} - {{item.price}}
    </p>
  </div>
</div>