/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #232425;
  font-family: 'Fondamento',
    cursive;
}
